.phone-mockup {
  padding: 23px;
  border-radius: 60px;
  background: #fff;
  position: relative;
  &__notch {
    width: 212px;
    height: 28px;
    background: #fff;
    border: 1px solid #bfc6cb;
    border-top-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 23px;
    margin: auto;
    border-radius: 0 0 28px 28px;
    z-index: 100;
  }
  &__inner-layer {
    display: flex;
    background: #dadfe3;
    border: 1px solid #bfc6cb;
    width: 373px;
    height: 800px;
    border-radius: 39px;
    overflow: scroll;
  }
  &__content {
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
  }
}
