.input {
  $self: &;
  display: flex;
  flex-direction: column;
  margin-bottom: var(--marginBottomField);
  #{$self}--error {
    .input__field {
      border-color: var(--errorColor);
    }
  }
  &__field {
    background: var(--fieldBackgroundColor);
    height: var(--fieldHeight);
    border: var(--fieldBorderSize) solid var(--fieldBorderColor);
    border-radius: var(--fieldBorderRadius);
  }
}
