.button {
  cursor: pointer;
  background: var(--primary-color);
  border: none;
  height: var(--button-height);
  width: 100%;
  font-size: var(--font-xs);
  color: var(--white-color);
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.05);
  }
}
