.button {
  cursor: pointer;
  background: linear-gradient(0deg, #32b35f 45%, #32bf62 55%);
  border: none;
  height: 47px;
  width: 100%;
  font-size: 14px;
  color: var(--whiteColor);
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
