.button {
  cursor: pointer;
  background: linear-gradient(0deg, #32b35f 45%, #32bf62 55%);
  border: none;
  height: var(--button-height);
  width: 100%;
  font-size: var(--font-xs);
  color: var(--white-color);
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
