.form {
  width: calc(100% - var(--space-m) * 2);
  box-sizing: border-box;
  margin: 0 auto var(--space-xl);
  &__body {
    background: var(--white-color);
    border-radius: var(--elements-radius);
    padding: var(--space-m);
    margin-bottom: var(--space-l);
  }
  &__title {
    margin: 0;
    font-size: var(--font-l);
    margin-bottom: var(--space-xl);
    color: var(--text-color);
  }
  &__element {
    margin-bottom: var(--space-xl);
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__buttons {
    display: flex;
    > * {
      margin-right: var(--space-m);
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
