.form {
  width: calc(100% - 30px);
  box-sizing: border-box;
  margin: 0 auto 20px;
  &__body {
    background: #fff;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
  }
  &__title {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 30px;
  }
  &__element {
    margin-bottom: var(--marginBottomField);
    &:last-child {
      margin-bottom: 0;
    }
  }
}
