.status-header {
  background: var(--white-color);
  width: 100%;
  height: var(--status-header-height);
  margin-bottom: var(--space-l);
  position: relative;
  &__step-counter {
    background: #edeff1;
    padding: 0 var(--space-xs);
    height: var(--step-counter-height);
    border-radius: var(--elements-radius);
    position: absolute;
    bottom: var(--space-s);
    left: var(--space-s);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-xxs);
    color: var(--text-color);
  }
  &__progress-bar {
    position: absolute;
    width: 100%;
    height: var(--progress-bar-height);
    background: var(--progress-bar-color);
    bottom: 0;
  }
  &__progress-filler {
    background: var(--progress-bar-fill-color);
    height: var(--progress-bar-height);
    transition: all var(--element-transition-time) ease-in-out;
  }
}
