.status-header {
  background: var(--white-color);
  width: 100%;
  height: 67px;
  margin-bottom: var(--space-l);
  position: relative;
  &__step-counter {
    background: #edeff1;
    padding: 0 var(--space-xs);
    height: 23px;
    border-radius: 12px;
    position: absolute;
    bottom: var(--space-s);
    left: var(--space-s);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
  }
  &__progress-bar {
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--progress-bar-color);
    bottom: 0;
  }
  &__progress-filler {
    background: var(--progress-bar-fill-color);
    height: 3px;
  }
}
