.textarea {
  $self: &;
  display: flex;
  flex-direction: column;
  &--error {
    #{$self}__field {
      border-color: var(--error-color);
    }
  }
  &__field {
    background: var(--field-background-color);
    min-height: var(--field-height);
    border: var(--field-border-size) solid var(--field-border-color);
    border-radius: var(--field-border-radius);
    font-size: var(--font-s);
    padding: var(--space-s);
    color: var(--text-color);
    transition: var(--element-transition-time);
    &:hover {
      border-color: var(--field-active-border-color);
    }
  }
}
