.switch {
  $self: &;
  display: flex;
  flex-direction: column;
  &__container {
    display: flex;
  }
  &__label {
    height: var(--fieldHeight);
    background: var(--fieldBackgroundColor);
    border: var(--fieldBorderSize) solid var(--fieldBorderColor);
    border-radius: var(--fieldBorderRadius);
    width: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__field {
    height: 0;
    width: 0;
    &:focus + #{$self}__label {
      background: grey;
    }
    &:checked + #{$self}__label {
      background: grey;
    }
  }
}
