.switch {
  $self: &;
  display: flex;
  flex-direction: column;
  &--error {
    #{$self}__label {
      border-color: var(--error-color);
    }
  }
  &__container {
    display: flex;
  }
  &__label {
    height: var(--field-height);
    background: var(--field-background-color);
    border: var(--field-border-size) solid var(--field-border-color);
    border-radius: var(--field-border-radius);
    width: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-s);
    color: var(--text-color);
    &--left {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &--right {
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  &__field {
    height: 0;
    width: 0;
    &:focus + #{$self}__label {
      background: var(--field-border-color);
    }
    &:checked + #{$self}__label {
      background: var(--field-border-color);
    }
  }
}
