.select {
  $self: &;
  display: flex;
  flex-direction: column;
  &--error {
    #{$self}__field {
      border-color: var(--error-color);
    }
  }
  .rmsc {
    .dropdown-container {
      background: var(--field-background-color);
      height: var(--field-height);
      border: var(--field-border-size) solid var(--field-border-color);
      border-radius: var(--field-border-radius);
      font-size: var(--font-s);
    }
    .dropdown-heading {
      cursor: pointer;
      height: 100%;
    }
  }
}
