@import '~normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');

html {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}

:root {
  //spacing
  --space-unit: 1.6rem;
  --space-xxs: calc(0.25 * var(--space-unit)); // 4px
  --space-xs: calc(0.5 * var(--space-unit)); // 8px
  --space-s: calc(0.75 * var(--space-unit)); // 12px
  --space-m: calc(1 * var(--space-unit)); // 16px
  --space-l: calc(1.25 * var(--space-unit)); // 20px
  --space-xl: calc(2 * var(--space-unit)); // 32px
  --space-xxl: calc(3.25 * var(--space-unit)); // 52px
  //typography
  --font-unit: 1.6rem;
  --font-xxs: calc(0.75 * var(--font-unit)); // 12px
  --font-xs: calc(0.875 * var(--font-unit)); // 14px
  --font-s: calc(1 * var(--font-unit)); // 16px
  --font-m: calc(1.125 * var(--font-unit)); // 18px
  --font-l: calc(1.25 * var(--font-unit)); // 20px
  --font-xl: calc(1.5 * var(--font-unit)); // 24px
  --font-xxl: calc(2 * var(--font-unit)); // 32px
  //sizes
  --field-height: 43px;
  --field-border-size: 1px;
  --field-border-radius: 5px;
  --button-height: 47px;
  --button-radius: 10px;
  --status-header-height: 67px;
  --step-counter-height: 23px;
  --elements-radius: 10px;
  --progress-bar-height: 3px;
  //colors
  --white-color: #fff;
  --field-background-color: #f1f4f6;
  --field-border-color: #c4cace;
  --field-active-border-color: #808588;
  --error-color: #e71111;
  --progress-bar-color: #e7ebec;
  --progress-bar-fill-color: #1e54fc;
  --app-background-color: #e3e3e3;
  //misc
  --element-transition-time: 0.2s;
  --button-active-opacity: 0.8;
  --button-disabled-opacity: 0.2;
  --button-hover-scale: 1.05;
}
